/*.results {
  display: none;
}*/

img {
  max-width: 150px;
  margin-left: 15px;
}
#hitList li {
  list-style: none;
  font-size: 1.5em;
}

input[type="checkbox"] {
  margin: 10px;
  display: inline-block;
}

.checkbox {

}

.remove {
  float: right;
  padding: 10px;
  cursor: pointer;
  display: inline-block;
}

.remove:hover {
  color: #e6005c;
}

.completed {
  text-decoration: line-through;
  color: #cc0000;
}
